name: CI for this project

on:
	pull_request:
		branches:
			- main

jobs:
	build:
		name: Build Project
		runs-on: ubuntu-latest

		steps:
			- name: Checkout code
			  uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install packages
        run: npm install

      - name: Typescript
        run: npm run build