name: Hello World Workflow

on:
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Multiple commands in one step
        run: |
          echo "Command 1"
          echo "Command 2"
          echo "Command 3"


